<!-- Landing foto -->
<img style = "width:100% "src="assets/robopics/homescreen.jpg" alt="EastwoodRobotics">


<!-- Foto Gallery -->
<body>

  <div class="gallery"> 

    <div class="row">

      <div class="column">
        <img src="assets/robopics/chrisandgio.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/carlosandleo.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/8787x.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/2019middleschool.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/2019state.JPG" alt="EastwoodRobotics">
        <img src="assets/robopics/military.png" alt="EastwoodRobotics">
      </div>
  
      <div class="column">
        <img src="assets/robopics/2019parade.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/8787c2019.JPG" alt="EastwoodRobotics">
        <img src="assets/robopics/2019booth.JPG" alt="EastwoodRobotics">
        <img src="assets/robopics/mexico2019.JPG" alt="EastwoodRobotics">
        <img src="assets/robopics/8787crobot.JPG" alt="EastwoodRobotics">
      </div>
  
      <div class="column">
        <img src="assets/robopics/carlosworlds.JPG" alt="EastwoodRobotics">
        <img src="assets/robopics/2019booth2.JPG" alt="EastwoodRobotics">
        <img src="assets/robopics/malianddiana.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/stairs2019.JPG" alt="EastwoodRobotics">
      </div>
  
      <div class="column">
        <img src="assets/robopics/worldsteam2017.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/troopercuttingmetal.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/japan2019.JPG" alt="EastwoodRobotics">
        <img src="assets/robopics/teamsitting.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/chenandamanda.jpg" alt="EastwoodRobotics">
        <img src="assets/robopics/20190424_114600(1).jpg" alt="EastwoodRobotics">
      </div>
  
    </div>

  </div>

</body>


<!-- Footer -->
<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
  <footer>
      <div class="row my-5 justify-content-center py-5">
          <div class="col-11">
              <div class="row ">
                  <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                    <img style="width: 25%;" src="assets/robopics/logo2.png" alt="EastwoodRobotics">
                    <img style="width: 10%;"  alt="">
                    <img style="width: 25%;" src="assets/robopics/yisd.png" alt="EastwoodRobotics">
                  </div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                      <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                      <ul class="list-unstyled">
                        <a href="/home" target="_top" class="nav-item nav-link active">Home</a>
                        <a href="/aboutus" target="_top"  class="nav-item nav-link">About Us</a>
                        <a href="/community" target="_top" class="nav-item nav-link">Community</a>
                        <a href="/girlpowered" target="_top" class="nav-item nav-link">Girl Powered</a>
                        <a href="/resources" target="_top" class="nav-item nav-link">Resources</a>
                        <!-- <a href="/vexu" target="_top" class="nav-item nav-link">Vex U</a>
                        <a href="/chickfila" target="_top" class="nav-item nav-link">Chick-Fil-A</a> -->
                      </ul>
                  </div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                      <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                      <p class="mb-1">2430 MCRAE BLVD.</p>
                      <p>EL PASO, TX</p>
                  </div>
              </div>
              <div class="row ">
                  <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                      <p class="social text-muted mb-0 pb-0 bold-text"> 
                        <span class="mx-2">
                          <a href="https://www.facebook.com/eastwood.robotics/" target = "_blank"><i class="fa fa-facebook"></i></a>
                        </span>
                        <span class="mx-2">
                          <a href="https://www.instagram.com/eastwood.robotics/?hl=en" target = "_blank"><i class="fa fa-instagram"></i></a>
                        </span>
                        <span class="mx-2">
                          <a href="https://twitter.com/trooperrobotics?lang=en" target = "_blank"><i class="fa fa-twitter"></i></a>
                        </span>
                      </p>
                      <small class="rights"><span>&#174;</span>EASTWOOD ROBOTICS ALL RIGHTS RESERVED.</small>
                  </div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                      <h6 class="mt-55 mt-2 text-muted bold-text"><b></b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span>eastwoodrobotics@gmail.com</small>
                  </div>
              </div>
          </div>
      </div>
</footer>
 
