.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("/assets/aggies/IMG-4940.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .banner {
    background-color: #a72987;
  }
  .py-5 {
    color: white;
    font-size: 40;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  body {
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Rubik', sans-serif;
    background:#000000;
    height: 100 !important
  }



  .w-100 {
    width: 90% !important;
    height: 90vh;
  }

