<body>
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Girl Powered 2020</h1>
          <p class="lead" >Our first virtual Girl Powered</p>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h2 class="font-weight-light"></h2>
      <div class="container">

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>VEX IQ CAD</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro on how to build a robot in VEX IQ</p>
                    <a href="https://www.youtube.com/watch?v=DKUg-mmjsEE&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Watch</a>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>VEX EDR CAD</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro on how to build a robot in VEX EDR</p>
                        <a href="https://www.youtube.com/watch?v=9EfCC1gV3b4&feature=youtu.be" target="_blank">Watch</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>Programing</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro to robotics programing</p>
                        <a href="https://www.youtube.com/watch?v=1YkKL5A_xro&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Watch</a>
                </div>
            </div>
        </div>
    </div>    
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <h2 class="font-weight-light"></h2>
      <div class="container">

        
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>Autodesk Auto Cad</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro to web based autodesk</p>
                    <a href="https://www.youtube.com/watch?v=nay1qzSCyqE&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Watch</a>
                </div>
            </div>
        </div>
        

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>Autodesk Inventor</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro to designing a robot in Autodesk Inventor</p>
                        <a href="https://www.youtube.com/watch?v=0wcSVmOR2N0&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Watch</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>Autodesk Fusion</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro to building a robot in Autodesk Fusion</p>
                        <a href="https://www.youtube.com/watch?v=y84_bZ1XMQE&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Watch</a>
                </div>
            </div>
        </div>
    </div>    
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <h2 class="font-weight-light"></h2>
      <div class="container">

        
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>Artificial Intellignece</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro to Artificial Intellignece</p>
                    <a href="https://www.youtube.com/watch?v=9UYoqQiSBGU&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Watch</a>
                </div>
            </div>
        </div>
        

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>Engineering Notebook</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro on how to build a world winning engineering notebook</p>
                        <a href="https://www.youtube.com/watch?v=tLDqYKfvBTw&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Watch</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>TinkerCAD</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro to the web based TinkerCAD</p>
                        <a href="https://www.youtube.com/watch?v=S4bPenqBg1A&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Watch</a>
                </div>
            </div>
        </div>
    </div>    
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <h2 class="font-weight-light"></h2>
      <div class="container">

        
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>Python</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro on how to program using python by cmu</p>
                    <a href="https://www.youtube.com/watch?v=C-AV7knq0c8&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Watch</a>
                </div>
            </div>
        </div>
        

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>VEX EDR Competition</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Intro on how to build a robot and intro to this year's game.</p>
                        <a href="https://www.youtube.com/watch?v=5TrMtA6n03I&feature=youtu.be&ab_channel=RaulTorresSantos" target="_blank">Read More</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="">
                    <h3>Youtube channel</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Watch more tutorials</p>
                        <a href="https://www.youtube.com/channel/UCov_RkYpGcJya4bYe7-Xyfw" target="_blank">Go</a>
                </div>
            </div>
        </div>
    </div>    
    </div>
  </section>

</body>

<!-- Footer -->

<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                      <img style="width: 25%;" src="assets/robopics/logo2.png" alt="EastwoodRobotics">
                      <img style="width: 10%;"  alt="">
                      <img style="width: 25%;" src="assets/robopics/yisd.png" alt="EastwoodRobotics">
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled">
                          <a href="/home" target="_top" class="nav-item nav-link active">Home</a>
                          <a href="/aboutus" target="_top"  class="nav-item nav-link">About Us</a>
                          <a href="/community" target="_top" class="nav-item nav-link">Community</a>
                          <a href="/girlpowered" target="_top" class="nav-item nav-link">Girl Powered</a>
                          <a href="/resources" target="_top" class="nav-item nav-link">Resources</a>
                          <a href="/vexu" target="_top" class="nav-item nav-link">Vex U</a>
                          <a href="/chickfila" target="_top" class="nav-item nav-link">Chick-Fil-A</a>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                        <p class="mb-1">2430 MCRAE BLVD.</p>
                        <p>EL PASO, TX</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text"> 
                          <span class="mx-2">
                            <a href="https://www.facebook.com/eastwood.robotics/" target = "_blank"><i class="fa fa-facebook"></i></a>
                          </span>
                          <span class="mx-2">
                            <a href="https://www.instagram.com/eastwood.robotics/?hl=en" target = "_blank"><i class="fa fa-instagram"></i></a>
                          </span>
                          <span class="mx-2">
                            <a href="https://twitter.com/trooperrobotics?lang=en" target = "_blank"><i class="fa fa-twitter"></i></a>
                          </span>
                        </p>
                        <small class="rights"><span>&#174;</span>EASTWOOD ROBOTICS ALL RIGHTS RESERVED.</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b></b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span>eastwoodrobotics@gmail.com</small>
                    </div>
                </div>
            </div>
        </div>
  </footer>
</div>
